.footer {
  background-color: #000; 
  color: #fff; 
  padding: 2% 5%;
  text-align: center; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 

  .footer-content {
    width: 100%; 

    img {
      width: 122px;
      height: 39px;
      margin-bottom: 2%; 
      background-color: #000;
    }

    p {
      margin: 0; 
      font-size: 2vw; 
    }
  }

  @media (max-width: 768px) {
    height: 209px; 
    padding: 104px;

    .footer-content {
      img {
        max-width: 60%; 
      }

      p {
        font-size: 12px; 
      }
    }
  }
}
