.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 70px;
  background-color: #fff;

  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #000;

    img {
      height: 60px;
    }
  }

  .navigation {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      gap: 57px;

      li {
        margin-right: 20px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    a {
      text-decoration: none;
      color: #FF6060;
    }

    .active {
      text-decoration: underline;
      color: #FF6060;
    }
  }

  @media (max-width: 768px) {
    flex-direction: row;
    padding: 30px 20px;
    gap: 25px;

    .logo {
      margin-bottom: 20px;

      img {
        height: 45px;
      }
    }

    .navigation {
      padding-bottom: 30px;

      ul {
        gap: 26px;
      }

      li {
        text-transform: uppercase;
        font-size: 12px;
      }
    }
  }
}
