.info-logement {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px auto;

  .logement-top {
    display: flex;
    width: 100%;

    @media (max-width: 768px) {
      align-items: center;
      flex-direction: column;
    }
  }

  .logement-header-tags {
    display: flex;
    flex-direction: column;
    width: 100%;

    .logement-header {
      h1 {
        font-size: 36px;
        font-weight: 500;
        color: #FF6060;
        margin-bottom: 10px;
      }

      .location {
        font-size: 18px;
        font-weight: 500;
        color: #FF6060;
        margin-bottom: 20px;
      }

      @media (max-width: 768px) {
        h1 {
          font-size: 18px;
        }

        .location {
          font-size: 14px;
        }
      }
    }

    .tags {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;

      .tag {
        border: 1px solid #FF6060;
        border-radius: 10px;
        background-color: #FF6060;
        padding: 5px 10px;
        color: white;
        margin-bottom: 5px;
      }

      @media (max-width: 768px) {
        .tag {
          font-size: 10px;
        }
      }
    }
  }

  .host-rating-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;

    @media (max-width: 768px) {
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
    }
  }

  .host-info {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    .host-name {
      font-size: 18px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      color: #FF6060;
    }

    .host-image {
      height: 64px;
      object-fit: cover;
      border-radius: 50%;
      margin-left: 20px;
    }

    @media (max-width: 768px) {
      .host-name {
        font-size: 12px;
        width: 50px;
      }

      .host-image {
        height: 40px;
        width: 40px;
        margin-left: 10px;
      }
    }
  }

  .rating {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;

    .fa-star {
      color: #ddd;
      &.active {
        color: red;
      }
    }

    @media (max-width: 768px) {
      font-size: 18px;
      margin-top: 10px;
    }
  }

  .menus-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 76px;

    @media (max-width: 768px) {
      gap: 0px;
      flex-direction: column;
    }
  }
}
