.info-logement {
    display: flex;
    flex-direction: column;
    width: 100%; 
    margin: 20px auto;

    .logement-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
  
    .logement-header {
        h1 {
            font-size: 36px;
            font-weight: 500;
            color: #FF6060;
            margin-bottom: 10px;
        }

        .location {
            font-size: 18px;
            font-weight: 500;
            color: #FF6060;
            margin-bottom: 20px;
        }
    }

    .tags-rating-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 20px; 
        

        .tags {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;

            .tag {
                border: 1px solid #FF6060;
                border-radius: 10px;
                background-color: #FF6060;
                padding: 5px 10px;
                color: white;
                margin-bottom: 5px;
            }
        }

        .rating {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 24px;

            .fa-star {
                color: #ddd;
                &.active {
                    color: red;
                }
            }
        }
    }

    .host-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 10%;
        margin-right: 25px;

        .host-name {
            font-size: 18px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            color: #FF6060;
        }

        .host-image {
            height: 64px;
            object-fit: cover;
            border-radius: 50%;
            margin-left: 20px;
        }
    }

    .menus-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        gap: 76px;
    }
}
