.menu-deroulant {
  display: flex;
  flex-direction: column; // Changez la direction pour permettre l'expansion verticale
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 70vw;
  max-width: 1024px;
  margin: 30px auto;
  background-color: #FF6600; // Couleur du menu principal
  box-sizing: border-box;
}

.titre-menu {
  color: #FFFFFF;
  padding-left: 15px;
  width: 100%; // Assurez-vous que le titre s'étend sur toute la largeur
  height: 59px; // Hauteur fixe pour le titre
  background-color: #FF6060; // Couleur de fond pour le titre
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.fleche {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  position: absolute; // Positionnez absolument par rapport au .menu-deroulant
  right: 0; // À droite du conteneur
  top: 0; // En haut du conteneur
  height: 59px; // Hauteur fixe pour aligner avec le titre
  box-sizing: border-box;
  padding: 10px;
}

.menu-deroulant.estOuvert .fleche {
  transform: rotate(180deg);
}

.contenu-menu {
  display: none;
  width: 100%; // Compense les 15px de padding de chaque côté
  background-color: #F6F6F6;
  box-sizing: border-box; // Assure que padding et border sont inclus dans la largeur
  padding: 10px;
  margin: 0 auto; // Ajoute un margin pour aligner avec le titre
}

.menu-deroulant.estOuvert .contenu-menu {
  display: flex;
}


.contenu-menu p {
  color: #000; // Ou toute autre couleur visible sur le fond #F6F6F6
  // ... autres styles de texte que vous pourriez vouloir
}
