$menu-height: 1000px;
$menu-bg-color: #FF6600;
$menu-title-bg-color: #FF6060;
$menu-content-bg-color: #F6F6F6;

@keyframes ouvrirMenu {
  from {
    max-height: 0;
  }
  to {
    max-height: $menu-height;
  }
}

.menu-deroulant {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 70vw;
  max-width: 1024px;
  margin: 30px auto;
  background-color: $menu-bg-color;
  box-sizing: border-box;
  border-radius: 5px;

  .titre-menu {
    color: #FFFFFF;
    font-size: 24px;
    padding-left: 15px;
    width: 100%;
    height: 59px;
    background-color: $menu-title-bg-color;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 5px;
  }

  .fleche {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    position: absolute;
    right: 0;
    top: 0;
    height: 59px;
    box-sizing: border-box;
    padding: 10px;
  }

  &.estOuvert .fleche {
    transform: rotate(-180deg);
  }

  .contenu-menu {
    display: none;
    width: 100%;
    background-color: $menu-content-bg-color;
    box-sizing: border-box;
    padding: 20px;
    margin: 0 auto;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    animation: ouvrirMenu 0.3s ease-in-out forwards;
  }

  &.estOuvert .contenu-menu {
    display: flex;
  }

  .contenu-menu p {
    color: $menu-title-bg-color;
    font-size: 18px;
  }
}
