$menu-title-bg-color: #FF6060;
$menu-content-bg-color: #F6F6F6;
$max-height: 500px; 

.menu-deroulant {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 80%;
  max-width: 100%;
  margin: 30px auto;
  box-sizing: border-box;
  border-radius: 5px;

  .titre-menu {
    color: #FFFFFF;
    font-size: 24px;
    padding-left: 15px;
    width: 100%;
    height: 59px;
    background-color: $menu-title-bg-color;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 5px;
  }

  .fleche {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    position: absolute;
    right: 0;
    top: 0;
    height: 59px;
    box-sizing: border-box;
    padding: 10px;

    img {
      width: auto;
      height: auto;
    }
  }

  .contenu-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
    background-color: $menu-content-bg-color;
    box-sizing: border-box;
    padding: 0 20px;
    width: 100%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #FF6060;

    p {
      color: $menu-title-bg-color;
      font-size: 18px;
      margin: 0;
    }
  }

  &.estOuvert {
    .fleche {
      transform: rotate(-180deg);
    }

    .contenu-menu {
      max-height: $max-height;
      padding: 20px;
    }
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}
