.error-container {
    text-align: center;
    padding: 20px;
  }
  
  .error-number {
    color: #ff6060;
    font-size: 288px; 
    padding-top: 139px;
  }
  
  .error-message {
    margin: 20px 0;
    color: #ff6060;
    font-size: 36px;
    padding-top: 139px;
  }
  
  .error-home-link {
    display: block;
    color: #ff6060; 
    text-decoration: underline;
    padding: 139px 0px;
  }
  